.donateContainer{
    position: absolute;
    bottom: 70px;
    right: 50px;
    z-index: 99;

    button{
        border: 0;
        background-color: #FFB800;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        font-size: 1rem;
        filter: drop-shadow(2px 1px 5px rgba(0, 0, 0, 0.3));
        transition: all 0.5s;

        &:hover{
            transform: scale(1.1);
        }
    }
}